<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.m78159.pdm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/androidos"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/androidos"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main9Activity" />
        <activity android:name=".Main8_1Activity" />
        <activity android:name=".Main8Activity" />
        <activity android:name=".Main7_2Activity" />
        <activity android:name=".Main7_1Activity" />
        <activity android:name=".Main7Activity" />
        <activity android:name=".Main5Activity" />
        <activity android:name=".Main6_2Activity" />
        <activity android:name=".Main6_1Activity" />
        <activity android:name=".Main6Activity" />
        <activity android:name=".Main1Activity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".Main2_1Activity" />
        <activity android:name=".Main3Activity" />
        <activity android:name=".Main3_1Activity" />
        <activity android:name=".Main3_2Activity" />
        <activity android:name=".Main3_3Activity" />
        <activity android:name=".Main3_4Activity" />
        <activity android:name=".Main4Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>